<div class="row">
    <div class="col-xl-8 col-md-8 shadow-lg p-3 mb-5 bg-body rounded " style="margin: auto; width: 40rem; height: 40rem;">
        <div class="card border-0 mb-6" style="width: 32rem; height: 36rem; margin: auto;">
            <div class="container">
                <div class="row">
                    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
                        <div class="carousel-inner">
                            <mdb-carousel [animation]="'slide'">
                                <mdb-carousel-item *ngFor="let image of images">
                                    <img class="d-block w-100" src="{{imageBasePath}}{{image.imagePath}}" alt="First slide">

                                </mdb-carousel-item>

                            </mdb-carousel>


                        </div>
                        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>







                </div>



            </div>

            <div class="card-body text-center">
                <h4>
                    <a class="card-title text-decoration-none h5" style="color:#179b3c;">{{carDetail.carName}} </a>
                </h4>
                <p class="card-text h3">${{carDetail.dailyPrice}}/Day</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="float-start">Brand</span>
                    <span class="float-end">{{carDetail.brandName}}</span>
                </li>
                <li class="list-group-item">
                    <span class="float-start">Color </span>
                    <span class="float-end">{{carDetail.colorName}}</span>
                </li>
                <li class="list-group-item">
                    <span class="float-start">Model Year </span>
                    <span class="float-end">{{carDetail.modelYear}}</span>
                </li>
                <li class="list-group-item">
                    <span class="float-start">Description </span>
                    <span class="float-end">{{carDetail.description}}</span>
                </li>

            </ul>
            <div class="card-body">
                <div class="d-flex action justify-content-between">
                    <a href="" class="btn btn-info ">Rent Now</a>
                    <a routerLink="/cars" class="btn btn-secondary ">All Cars </a>
                </div>
            </div>
        </div>
    </div>
</div>