<!-- <div class="container" style="color: rgb(114, 134, 120);">
    <app-navi></app-navi>
    <div class="row">

        <div class="col-md-2">
            <div class="row">
                <app-brand></app-brand>
            </div>
            <div class="row">
                <app-color>

                </app-color>
            </div>

        </div>
        <div class="col-md-10">
            <router-outlet> </router-outlet>
        </div>
    </div>

</div> -->

<div class="container" style="color: rgb(114, 134, 120); ">
    <app-navi></app-navi>
    <div class="row">
        <router-outlet> </router-outlet>
    </div>

</div>